[submodule "app/src/main/cpp/oboe"]
	path = app/src/main/cpp/oboe
	url = https://github.com/google/oboe
[submodule "app/src/main/cpp/Ne10"]
	path = app/src/main/cpp/Ne10
	url = https://github.com/projectNe10/Ne10.git
[submodule "app/src/main/cpp/gcem"]
	path = app/src/main/cpp/gcem
	url = https://github.com/kthohr/gcem
[submodule "app/src/main/cpp/SFML"]
	path = app/src/main/cpp/SFML
	url = https://github.com/SFML/SFML
[submodule "app/src/main/cpp/freetype2"]
	path = app/src/main/cpp/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
