[submodule "app/src/main/cpp/oboe"]
	path = app/src/main/cpp/oboe
	url = https://github.com/google/oboe
[submodule "app/src/main/cpp/stompbox"]
	path = app/src/main/cpp/stompbox
	url = git@github.com:sevagh/stompbox.git
